/* Work Experience
----------------------- */
.work-experience {
    background-color: #eef7ff;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

h3 {
    margin-bottom: 0;
}


.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 0;
}

.divider > section {
    border-bottom: 3px dotted #25283D;
    padding: 25px 0;
}

.divider > section:last-of-type {
    border-bottom: none;
}

.header-background {
    background-color: #25283D;
}

h2 {
    font-size: 3em;
    padding-bottom: 10px;
}
h1, h2 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    margin: 0;
}

header h3 {
    padding-left: 2em;
}